.feynman {
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
  overflow: hidden;
}

.feynman__title {
  position: relative;
  z-index: 1;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  width: 100%;
  max-width: 648px;
  margin: 0 auto;
}

.feynman__subtitle {
  position: relative;
  z-index: 1;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 70px 0 0 0;
}

.feynman__link {
  position: absolute;
  z-index: 2;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}