.header {
  height: 100vh;
  box-sizing: border-box;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 730px;
  margin: auto 64px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}