.footer {
  display: flex;
  box-sizing: border-box;
  min-height: 350px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #f2f2f2;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  padding: 0;
  margin: 20px 0 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}