.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* ------------- header ------------- */

.header {
  height: 100vh;
  box-sizing: border-box;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* выше установили ограничения для секции */
}
.logo {
  width: 228px;
  height: 32px;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  width: 730px;
  margin: auto 64px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  width: 388px;
  left: 64px;
  bottom: 30px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.main__illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.main__illustration img{
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* ------------- general styles ------------- */

.flex-row {
  display: flex;
}
.flex-row_wrap {
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.centered-block {
  margin: auto;
}
.centered-text {
  text-align: center;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  color: #2f80ed;
  text-decoration: none;
}
.theme_dark {
  color: #f2f2f2;
  background-color: #1f1f1f;
}

/* ---------- description ---------- */

.description {
  width: 80%;
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
}

.two-columns {
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}
.two-columns__brief h2{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
.paragraph {
  line-height: 32px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.span-accent {
  font-weight: 600;
}
.accent-text {
  margin: 30px 0;
}
.two-columns__main-text {
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}
/* ---------- table ---------- */
.table {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.table__wrapper {
  width: 1100px;
}
.table__digits {
  padding-bottom: 100px;
}
.table__header {
  width: 60%;
}
.table__title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding: 0;
}
.table__subtitle {
  font-size: 34px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.table__content {
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.margin_cell_m {
  margin-top: 60px;
}
.margin_cell_l {
  margin-top: 80px;
}
.cell_width_l {
  width: 250px;
}
.cell_width_m {
  width: 200px;
}
.table__cell-heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 20px;
}
.table__cell-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 20px;
}
.table__cell-text:last-child {
  margin: 0;
}
/* ---------- feynman ---------- */

.feynman {
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  overflow: hidden;
}
.feynman__title {
  position: relative;
  z-index: 2;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  width: 648px;
  margin: 0 auto;
}
.feynman__subtitle {
  position: relative;
  z-index: 2;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 70px 0 0 0;
}
.feynman__link {
  position: relative;
  z-index: 2;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}
.feynman__illustration {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}
.feynman__illustration img {
  width: 100%;
}

/* ---------- kaufman ---------- */

.table__kaufman {
  position: relative;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 90px;
}
.kaufman__illustration {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -200px;
  width: 877px;
  height: 877px;
}
.kaufman__illustration img {
  width: 100%;
}

/* ---------- footer ---------- */

.footer {
  display: flex;
  box-sizing: border-box;
  min-height: 350px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}
.author {
  padding: 0;
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}
.column-links {
  padding: 0;
  margin: 20px 0 16px;
}
.column-link {
  display: inline-flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}
.social-icon {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.youTube-icon {
  background-image: url(/images/youtube-icon.svg);
}
.vk-icon {
  background-image: url(/images/vk_color_white.svg);
}
.tikTok-icon {
  background-image: url(/images/tiktok-icon.svg);
}